/* login.css */

/* Container for the entire page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  background: #f0f0f0;
}

/* Login Form */
.login-form {
  background: #fff;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  /* text-align: center; */
}

/* Heading */
.login-form h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #02083a;
  text-align: center;
  
}

/* Input Fields */
.login-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd; 
  border-radius: 4px;
  font-size: 16px;
 
}
.login-form .login-show-password-btn{
  background-color: transparent  ;
  color:#02083a;
  width: auto;
  font-size: 12px;
}
.login-form .login-show-password-btn:hover{
  background-color: transparent  ;
  color:#cacdeb;
  width: auto;
  font-size: 12px;
}
.login-signup-link{
  text-align: center !important;
}
.login-form input:focus {
  border-color: #0056b3;
  outline: none;
}
.login-input-group label{
  font-weight: bold;
}
/* Submit Button */
.login-input-group button {
  width: 100%;
  padding: 10px;
  background: #002e5d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 15px;
}

.login-input-group button:hover {
  background: #0056b3;
}

/* Password Visibility Button */
.password-toggle {
  button {
    background: none;
    border: none;
    color: #03284f;
    font-size: 12px; /* Reduced font size */
    cursor: pointer;
    margin-top: 3px; /* Reduced margin */
    padding: 2px 5px; /* Added small padding for a cleaner look */
    text-align: left;
  }
}

/* Error Message */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 480px) {
  .login-form {
    padding: 20px;
    width: 90%;
  }
}



