/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    color: #06053a;
    font-size: 14px;
    margin-top: auto;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
  }
  