/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  height: 60px;
}

.logo img {
  width: 60px;
  height: 50px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav ul li a {
  text-decoration: none;
  color: #000000; /* Deep pink text */
  font-weight: bold;
  font-size: 16px; /* Adjusted for better readability */
  transition: color 0.3s ease;
}

/* Adjust auth-links to display inline */
.auth-links {
  display: flex;
  gap: 0.5rem;  /* Ensures space between the links */
  align-items: center;
}

.auth-links a {
  text-decoration: none; /* Remove underline */
  color: #00264e; /* Set your desired color */
  font-weight: bold;
  padding: 0.5rem 1rem;
}

.auth-links a:visited {
  color: #022448; /* Keep the original color even if the link is visited */
}
